footer.footer
      .container-fluid
        nav.pull-left
          ul
            li
              a(href='https://www.skku.edu')
                | SKKU
            li
              a(href='https://www.comedu.co.kr')
                | Computer Education
            li
              a(href='https://namu.wiki/')
                | Algorithm TeamProject
        .copyright.pull-right
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made by &#xD0D0;&#xD06C;&#xB8E8;&#xC988;