footer.footer
      .container-fluid
        nav.pull-left
          ul
            li
              a(href='https://www.creative-tim.com')
                | Creative Tim
            li
              a(href='https://blog.creative-tim.com')
                | Blog
            li
              a(href='https://www.creative-tim.com/license')
                | Licenses
        .copyright.pull-right
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made by &#xD0D0;&#xD06C;&#xB8E8;&#xC988;