nav.navbar.navbar-default
      .container-fluid
        .navbar-minimize
          button#minimizeSidebar.btn.btn-fill.btn-icon
            i.ti-more-alt
        .navbar-header
          button.navbar-toggle(type='button')
            span.sr-only Toggle navigation
            span.icon-bar.bar1
            span.icon-bar.bar2
            span.icon-bar.bar3
          a.navbar-brand(href='#datatable') &#xC18C;&#xD504;&#xD2B8;&#xC6E8;&#xC5B4;&#xACF5;&#xD559;
        .collapse.navbar-collapse
          form.navbar-form.navbar-left.navbar-search-form(role='search')
            .input-group
              span.input-group-addon
                i.fa.fa-search
              input.form-control(type='text' value='' placeholder='Search...')
          ul.nav.navbar-nav.navbar-right
            li
              a.dropdown-toggle.btn-magnif(href='/logout')
                i.ti-power-off
                p &#xB85C;&#xADF8;&#xC544;&#xC6C3;
            li.dropdown
              a.dropdown-toggle
                -if(user.type=='Professor')
                  i.ti-user
                  span.notification &#xAD50;&#xC218;&#xC790; &#xD398;&#xC774;&#xC9C0;
                -if(user.type=='Student')
                  i.ti-cup
                  span.notification 점수: #{user.point}