// Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
script(src='/assets/js/jquery.min.js' type='text/javascript')
script(src='/assets/js/jquery-ui.min.js' type='text/javascript')
script(src='/assets/js/perfect-scrollbar.min.js' type='text/javascript')
script(src='/assets/js/bootstrap.min.js' type='text/javascript')
// Forms Validations Plugin
script(src='/assets/js/jquery.validate.min.js')
// Promise Library for SweetAlert2 working on IE
script(src='/assets/js/es6-promise-auto.min.js')
// Plugin for Date Time Picker and Full Calendar Plugin
script(src='/assets/js/moment.min.js')
// Date Time Picker Plugin is included in this js file
script(src='/assets/js/bootstrap-datetimepicker.js')
// Select Picker Plugin
script(src='/assets/js/bootstrap-selectpicker.js')
// Switch and Tags Input Plugins
script(src='/assets/js/bootstrap-switch-tags.js')
// Circle Percentage-chart
script(src='/assets/js/jquery.easypiechart.min.js')
// Charts Plugin
script(src='/assets/js/chartist.min.js')
// Notifications Plugin
script(src='/assets/js/bootstrap-notify.js')
// Sweet Alert 2 plugin
script(src='/assets/js/sweetalert2.js')
// Wizard Plugin
script(src='/assets/js/jquery.bootstrap.wizard.min.js')
// Bootstrap Table Plugin
script(src='/assets/js/bootstrap-table.js')
// Plugin for DataTables.net
script(src='/assets/js/jquery.datatables.js')
// Full Calendar Plugin
script(src='/assets/js/fullcalendar.min.js')
// Paper Dashboard PRO Core javascript and methods for Demo purpose
script(src='/assets/js/paper-dashboard.js')
// Paper Dashboard PRO DEMO methods, don't include it in your project!
script(src='/assets/js/demo.js')