.sidebar(data-background-color='brown' data-active-color='danger')
    //
      Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
      Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    .logo
      a.simple-text.logo-mini(href='/main')
        | CT
      a.simple-text.logo-normal.sidebar-home(href='/main')
        i.ti-home
        span Unibus
    .sidebar-wrapper
      .user
        .photo
          img(src='/image/profile_pic')
        .info
          a.collapsed(data-toggle='collapse' href='#collapseExample')
            span
              | #{user.name}
              b.caret
          .clearfix
          #collapseExample.collapse
            ul.nav
              li
                a(href='/profile')
                  span.sidebar-mini Mp
                  span.sidebar-normal My Profile
      ul.nav
        li
          a(href='/main')
            i.ti-star
            p &#xBA54;&#xC778; &#xD398;&#xC774;&#xC9C0;
        li
          a(href='/professor/create_class')
            i.ti-cloud-up
            p
              | &#xAC15;&#xC758;&#xAC1C;&#xC124;
        li
          a(data-toggle='collapse' href='/professor/result')
            i.ti-bar-chart
            p
              | &#xB370;&#xC774;&#xD130; &#xCD9C;&#xB825;