doctype html
head
  include includes/head
nav.navbar.navbar-transparent.navbar-absolute
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='index.html') Unibus
      // 메인 화면으로 돌아가는 버튼
.wrapper.wrapper-full-page
  .full-page.index-page(data-color='' data-image='../../assets/img/background/background-2.jpg')
    // you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple"
    .content
      .container
        .row
          h1.main-name -&#xD504;&#xB9AC;&#xB77C;&#xC774;&#xB354; &#xC5C6;&#xB294; &#xD300;&#xD50C;&#xC758; &#xC138;&#xACC4;&#xB85C;-
          h2.main-name Welcome To unibus
          .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3.col-idx
            form(method='#' action='#')
              center
                h3.idx-btn
                  a(href='/login') &#xB85C;&#xADF8;&#xC778;
                  br
                h3.idx-btn
                  a(href='/signup') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
                  br
    footer.footer.footer-transparent
      .container
        .copyright
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made by &#xD0D0;&#xD06C;&#xB8E8;&#xC988;
// Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
include includes/scripts
script(type='text/javascript').
  $().ready(function(){
  demo.checkFullPageBackgroundImage();
  setTimeout(function(){
  // after 1000 ms we add the class animated to the login/register card
  $('.card').removeClass('card-hidden');
  }, 700)
  });
