doctype html
head
  meta(charset='utf-8')
  link(rel='apple-touch-icon' sizes='76x76' href='../../assets/img/icon-social.png')
  link(rel='icon' type='image/png' sizes='96x96' href='../../assets/img/icon-social.png')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  title Unibus for the better world
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
  meta(name='viewport' content='width=device-width')
  // Bootstrap core CSS
  link(href='../../assets/css/bootstrap.min.css' rel='stylesheet')
  // Paper Dashboard core CSS
  link(href='../../assets/css/paper-dashboard.css' rel='stylesheet')
  // CSS for Demo Purpose, don't include it in your project
  link(href='../../assets/css/demo.css' rel='stylesheet')
  // Fonts and icons
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css')
  link(href='../../assets/css/themify-icons.css' rel='stylesheet')
nav.navbar.navbar-transparent.navbar-absolute
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Unibus
      // 메인 화면으로 돌아가는 버튼
.wrapper.wrapper-full-page
  .full-page.index-page(data-color='' data-image='../../assets/img/background/background-2.jpg')
    // you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple"
    .content
      .container
        .row
          h1.main-name -&#xD504;&#xB9AC;&#xB77C;&#xC774;&#xB354; &#xC5C6;&#xB294; &#xD300;&#xD50C;&#xC758; &#xC138;&#xACC4;&#xB85C;-
          h2.main-name Welcome To unibus
          .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3.col-idx
            form(method='#' action='#')
              center
                h3.idx-btn
                  a(href='/login') &#xB85C;&#xADF8;&#xC778;
                  br
                h3.idx-btn
                  a(href='/signup') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
                  br
    footer.footer.footer-transparent
      .container
        .copyright
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made by &#xD0D0;&#xD06C;&#xB8E8;&#xC988;
// Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
script(src='../../assets/js/jquery.min.js' type='text/javascript')
script(src='../../assets/js/jquery-ui.min.js' type='text/javascript')
script(src='../../assets/js/perfect-scrollbar.min.js' type='text/javascript')
script(src='../../assets/js/bootstrap.min.js' type='text/javascript')
// Forms Validations Plugin
script(src='../../assets/js/jquery.validate.min.js')
// Promise Library for SweetAlert2 working on IE
script(src='../../assets/js/es6-promise-auto.min.js')
// Plugin for Date Time Picker and Full Calendar Plugin
script(src='../../assets/js/moment.min.js')
// Date Time Picker Plugin is included in this js file
script(src='../../assets/js/bootstrap-datetimepicker.js')
// Select Picker Plugin
script(src='../../assets/js/bootstrap-selectpicker.js')
// Switch and Tags Input Plugins
script(src='../../assets/js/bootstrap-switch-tags.js')
// Circle Percentage-chart
script(src='../../assets/js/jquery.easypiechart.min.js')
// Charts Plugin
script(src='../../assets/js/chartist.min.js')
// Notifications Plugin
script(src='../../assets/js/bootstrap-notify.js')
// Sweet Alert 2 plugin
script(src='../../assets/js/sweetalert2.js')
// Vector Map plugin
script(src='../../assets/js/jquery-jvectormap.js')
// Google Maps Plugin
script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE')
// Wizard Plugin
script(src='../../assets/js/jquery.bootstrap.wizard.min.js')
// Bootstrap Table Plugin
script(src='../../assets/js/bootstrap-table.js')
// Plugin for DataTables.net
script(src='../../assets/js/jquery.datatables.js')
// Full Calendar Plugin
script(src='../../assets/js/fullcalendar.min.js')
// Paper Dashboard PRO Core javascript and methods for Demo purpose
script(src='../../assets/js/paper-dashboard.js')
// Paper Dashboard PRO DEMO methods, don't include it in your project!
script(src='../../assets/js/demo.js')
script(type='text/javascript').
  $().ready(function(){
  demo.checkFullPageBackgroundImage();
  setTimeout(function(){
  // after 1000 ms we add the class animated to the login/register card
  $('.card').removeClass('card-hidden');
  }, 700)
  });
