doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 UNIBUS
    a(href='/main') 피드
    |  
    a(href='/team') 팀
    |    
    a(href='/schedule') 일정
    |    
    a(href='/profile') 프로필
    block content