doctype html

head
  include ../includes/head
.wrapper
  include ../includes/sidebar_professor
  .main-panel
    include ../includes/navbar
    .content
      .container-fluid
        .col-md-12
          .card
            .card-header
              h4.card-title &#xAC15;&#xC758;&#xB97C; &#xAC1C;&#xC124;&#xD569;&#xB2C8;&#xB2E4;.
            .card-content
              form.form-horizontal(method='POST' action='/professor/create_class')
                .form-group
                  label.col-sm-2.control-label &#xAC15;&#xC758; &#xC81C;&#xBAA9;
                  .col-sm-9
                    input.form-control(type='text' name='name')
                .form-group
                  label.col-sm-2.control-label &#xC218;&#xC5C5;&#xBC88;&#xD638;
                  .col-sm-9
                    input.form-control(type='text' name='class_id')
                .form-group
                  label.col-sm-2.control-label &#xAC1C;&#xC124;&#xB144;&#xB3C4;
                  .col-sm-10
                    input.form-control.create-class-year(type='number' name='year' value='2019')
                .form-group
                  label.col-sm-2.control-label &#xAC1C;&#xC124;&#xD559;&#xAE30;
                  .col-sm-10
                    .radio
                      input#radio1(type='radio' name='semester' value='1학기')
                      label(for='radio1')
                        | 1&#xD559;&#xAE30;
                    .radio
                      input#radio2(type='radio' name='semester' value='2학기')
                      label(for='radio2')
                        | 2&#xD559;&#xAE30;
                    .radio
                      input#radio3(type='radio' name='semester' value='여름계절')
                      label(for='radio3')
                        | &#xC5EC;&#xB984;&#xACC4;&#xC808;
                    .radio
                      input#radio4(type='radio' name='semester' value='겨울계절')
                      label(for='radio4')
                        | &#xACA8;&#xC6B8;&#xACC4;&#xC808;
                .text-center
                  button.btn.btn-info.btn-fill.btn-wd(type='submit') &#xAC15;&#xC758; &#xAC1C;&#xC124;&#xD558;&#xAE30;
          // end card
        // end col-md-12
    include ../includes/footer
include ../includes/scripts