doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h2 UNIBUS
    a(href='/professor') 메인페이지
    | 
    a(href='/profile') 프로필
    | 
    a(href='/logout') 로그아웃
    block content