doctype html

head
  include includes/head
.wrapper
  include includes/sidebar_professor
  .main-panel
    include includes/navbar
    .content
      .container-fluid
        .row
          .col-md-12
            .card
              .card-content
                .toolbar
                -if(!)
                

