doctype html

html(lang='en')
  head
    include ../includes/head
  body
    .wrapper
      include ../includes/sidebar_student
      .main-panel
        include ../includes/navbar
        .content
          .container-fluid
            .row
              .col-md-12
                .card
                  .card-header
                    h4 새로운 강의에 등록하세요!
                  .card-content
                    form(action='/main/enroll' method='POST')
                      h4 강의코드 :
                      input(type='text' name='_id')
                      button.submit 등록

        include ../includes/footer
    include ../includes/scripts