doctype html

head
  include ../includes/head
//별도의 navbar
nav.navbar.navbar-transparent.navbar-absolute
  .container
    .navbar-header
      button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navigation-example-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Unibus
      // 메인 화면으로 돌아가는 버튼
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/signup')
            | Register
.wrapper.wrapper-full-page
  .full-page.login-page(data-color='' data-image='../../assets/img/background/background-2.jpg')
    // you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple"
    .content
      .container
        .row
          .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
            form(method='POST' action='/login')
              .card(data-background='color' data-color='blue')
                .card-header
                  h3.card-title Login
                .card-content
                  .form-group
                    label Email address
                    input.form-control.input-no-border(name='email' type='email' placeholder='Enter email')
                  .form-group
                    label Password
                    input.form-control.input-no-border(name='password' type='password' placeholder='Password')
                .card-footer.text-center
                  button.btn.btn-fill.btn-wd(type='submit') Let&apos;s go
                  .forgot
                    a(href='#pablo') &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB97C; &#xC78A;&#xC5B4;&#xBC84;&#xB9AC;&#xC168;&#xC2B5;&#xB2C8;&#xAE4C;?
    //별도의 footer
    footer.footer.footer-transparent
      .container
        .copyright
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made by &#xD0D0;&#xD06C;&#xB8E8;&#xC988;
include ../includes/scripts
script(type='text/javascript').
  $().ready(function(){
  demo.checkFullPageBackgroundImage();
  setTimeout(function(){
  // after 1000 ms we add the class animated to the login/register card
  $('.card').removeClass('card-hidden');
  }, 700)
  });
