doctype html

head
  include ../includes/head
nav.navbar.navbar-transparent.navbar-absolute
  .container
    .navbar-header
      button.navbar-toggle.navbar-toggle-black(type='button' data-toggle='collapse' data-target='#navigation-example-2')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a.btn(href='/login')
            | Login
.wrapper.wrapper-full-page
  .register-page
    // you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple"
    .content
      .container
        .row
          .col-md-8.col-md-offset-2
            .header-text
              h2 UNIBUS
              h4 Register for free and experience clean team project today.
              hr
          .col-md-4.col-md-offset-2
            .media
              .media-left
                .icon.icon-danger
                  i.ti.ti-user
              .media-body
                h5 &#xBB34;&#xB8CC;&#xB85C; &#xAE30;&#xB2A5; &#xC81C;&#xACF5;
                |                                 &#x9;&#xC5EC;&#xB7EC;&#xBD84;&#xB4E4;&#xC758; &#xB6F0;&#xC5B4;&#xB098;&#xACE0; &#xCC3D;&#xC758;&#xC801;&#xC778; &#xD300; &#xD504;&#xB85C;&#xC81D;&#xD2B8;&#xC758; &#xACB0;&#xACFC;&#xB97C; &#xC704;&#xD55C; &#xD658;&#xACBD;&#xC744; &#xBB34;&#xB8CC;&#xB85C; &#xC81C;&#xACF5;&#xD569;&#xB2C8;&#xB2E4;!
            .media
              .media-left
                .icon.icon-warning
                  i.ti-bar-chart-alt
              .media-body
                h5 &#xC810;&#xC218; &#xBD80;&#xC5EC; &#xAE30;&#xB2A5;
                |                                 &#x9;&#xC774; &#xC6F9; &#xBE0C;&#xB77C;&#xC6B0;&#xC800;&#xB294; &#xAC01; &#xD300;&#xC6D0;&#xB4E4;&#xC758; &#xC810;&#xC218;&#xB97C; &#xB9E4;&#xACA8;&#xC90D;&#xB2C8;&#xB2E4;. &#xB204;&#xAD6C;&#xBCF4;&#xB2E4; &#xC5F4;&#xC758;&#xB97C; &#xAC00;&#xC9C4;&#xB2E4;&#xBA74; &#xB192;&#xC740; &#xC810;&#xC218;&#xB97C; &#xD68D;&#xB4DD;&#xD560; &#xC218; &#xC788;&#xC2B5;&#xB2C8;&#xB2E4;!
            .media
              .media-left
                .icon.icon-info
                  i.ti-headphone
              .media-body
                h5 &#xD300;&#xD50C; &#xC77C;&#xC815; &#xC9DC;&#xC8FC;&#xB294; &#xAE30;&#xB2A5;
                |                                 &#x9;&#xAC01; &#xD300;&#xC6D0;&#xB4E4;&#xC758; &#xC77C;&#xC815;&#xACFC; &#xC870; &#xC9C4;&#xD589; &#xC0C1;&#xD669;&#xC5D0; &#xB530;&#xB77C; &#xD300; &#xBAA8;&#xC784; &#xB0A0;&#xC9DC;&#xB97C; &#xCD94;&#xCC9C;&#xD574;&#xC90D;&#xB2C8;&#xB2E4;!
          .col-md-4
            form(method='POST' action='/signup')
              .card.card-plain
                .content
                  .form-group
                    input.form-control(name='name' type='text' placeholder='이름')
                  .form-group
                    input.form-control(name='sid' type='text' placeholder='학번 혹은 교번')
                  //
                    <div class="form-group">
                    <input type="email" placeholder="Company" class="form-control">
                    </div>
                  .form-group
                    input.form-control(name='email' type='email' placeholder='이메일 주소')
                  .form-group
                    input.form-control(name='password' type='password' placeholder='비밀번호')
                  .form-group
                    input.form-control(name='password_check' type='password' placeholder='비밀번호 확인')
                  .form-group
                    | &#xD559;&#xC0DD;: 
                    input(type='radio' name='type' value='Student')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#xAD50;&#xC218;: 
                    input(type='radio' name='type' value='Professor')
                .footer.text-center
                  button.btn.btn-fill.btn-danger.btn-wd(type='submit') Register
    //별도의 footer
    footer.footer.footer-transparent
      .container
        .copyright.text-center
          | &copy; 
          script.
            document.write(new Date().getFullYear())
          | , made by &#xD0D0;&#xD06C;&#xB8E8;&#xC988;
// Core JS Files. Extra: TouchPunch for touch library inside jquery-ui.min.js
include ../includes/scripts
script(type='text/javascript').
  $().ready(function(){
  demo.checkFullPageBackgroundImage();
  setTimeout(function(){
  // after 1000 ms we add the class animated to the login/register card
  $('.card').removeClass('card-hidden');
  }, 700)
  });
